body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #333;
}

.title {
    margin: 0;
    font-weight: 300;
    color: #bdbdbd;
    font-size: calc(2rem + 32 * (100vw/1440));
}

a {
    display: inline-block;
    text-decoration: none;
    color: #333;
}

.main {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn--white,
.btn--black {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 0.75rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
}

.btn--white {
    background-color: #fff;
}

.btn--black {
    background-color: #333;
    color: #fff;
}

/*------------------------------ project-lorum ------------------------------*/

.project-lorum {
    display: grid;
    grid-template-columns: 34.19% 65.81%;
}

.project-lorum__title {
    margin-top: 330px;
    font-size: calc(3rem + 16 * (100vw/1440));
    text-transform: uppercase;
    line-height: 1;
}

.project-lorum__title--changed {
    text-transform: none;
    font-weight: 700;
    color: #333;
}

.nav-arrows__left-bg,
.nav-arrows__right-bg {
    width: 53px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F2F2F2;
    cursor: pointer;
}

.nav-arrows__right-bg {
    margin-left: 23px;
}

.nav-arrows__left-bg:hover,
.nav-arrows__right-bg:hover {
    background-color: #F2F2F2;
}

.nav-arrows__hr {
    height: 1px;
    width: 100%;
    background-color: #F2F2F2;
    border: none;
}

.nav-nambers__text {
    color: #BDBDBD;
    font-weight: 400;
    font-size: calc(1rem + 8 * (100vw/1440));
}

.nav-arrows {
    display: flex;
    align-items: center;
    margin: 90px 0;
}

.nav-arrows__btns {
    display: flex;
}

.nav-nambers {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.nav-nambers__img {
    margin: 0 32px;
}

.project-lorum__btn-img {
    margin-left: 10px;
}

.project-lorum__img-src {
    width: 100%;
    height: 100%;
}

.project-lorum__btn {
    display: inline-block;
    justify-content: start;
    position: relative;
    top: -74px;
    padding: 29px 55px 28px 20px;
}

.project-lorum__img {
    max-height: 829px;
}

@media (max-width: 767px) {

    .project-lorum {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content 70vh;
    }

    .project-lorum__title {
        margin: 0;
        margin-bottom: 15px;
        grid-area: 1/1/2/3;
        text-align: center;
        font-size: 2rem;
    }

    .nav-arrows {
        margin: 0;
        margin-bottom: 30px;
        order: 3;
    }

    .nav-nambers {
        margin: 0;
        order: 2;
        margin-bottom: 10px;
    }

    .nav-nambers__img {
        margin: 0;
    }

    .project-lorum__text-content {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }

}

/*------------------------------ about ------------------------------*/

.about {
    margin-top: 120px;
    margin-bottom: 90px;
    display: grid;
    grid-template-columns: 57% 40%;
    column-gap: 30px;
    padding: 30px 70px 30px 100px;
    background-color: #FBFBFB;
}

.about__gallery {
    display: grid;
    grid-template-columns: 47.3% 47.3%;
    grid-template-rows: 60.9% 32.1%;
    column-gap: 30px;
    row-gap: 30px;
    grid-auto-flow: column;
}

.gallery-img--big {
    grid-area: 1/2/3/3;
    margin-top: 31px;
}

.about__content {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.about__text {
    line-height: 1.6;
}

.about__btn {
    padding: 27px 72px 25px 34px;
    margin-top: 27px;
}

.about__gallery-img {
    width: 100%;
}

.about__btn-img {
    margin-left: 10px;
}

@media (max-width: 1023px) {
    .about__gallery {
        display: none;
    }

    .about {
        margin-top: 60px;
        margin-bottom: 45px;
        padding: 15px;
        display: grid;
        grid-template-columns: 1fr;
    }
}

/*------------------------------ main-focus ------------------------------*/

.main-focus__content {
    margin-top: 60px;
    margin-bottom: 120px;
    display: grid;
    grid-template-columns: 35.3% 48.7%;
    column-gap: 16%;
}

.main-focus__left-column {
    display: grid;
    grid-template-columns: 25.2% 67.5%;
    column-gap: 7.3%;
}

.main-focus__right-column {
    display: grid;
    grid-template-columns: 21% 73.7%;
    column-gap: 5.3%;
}

.main-focus__number {
    margin: auto 0;
    font-size: calc(9rem + 56 * (100vw/1440));
    font-weight: 900;
    color: #F2F2F2;
    line-height: 0.7;
}

.main-focus__text {
    font-size: calc(0.6rem + 12.4 * (100vw/1440));
    line-height: 1.63;
    font-weight: 400;
    margin: auto 0;
}

@media (max-width: 767px) {
    .main-focus__title--hidden {
        display: none;
    }
}

@media (max-width: 1023px) {
    .main-focus__content {
        margin-top: 30px;
        margin-bottom: 60px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30% 60%;
        gap: 30px;
    }

    .main-focus__left-column,
    .main-focus__right-column {
        display: grid;
        grid-template-columns: 10% 1fr;
        gap: 10px;
    }

    .main-focus__number {
        font-size: calc(3.5rem + 32 * (100vw/1440));
        line-height: 0.7;
    }

    .main-focus__text,
    .main-focus__number {
        margin: auto 0;
    }
}

/*------------------------------ our-projects ------------------------------*/

.our-projects__gallery-top-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.gallery-top-row__img,
.gallery-bottom-row__img {
    width: 100%;
    height: 100%;
}

.gallery-top-row__content {
    position: relative;
    display: flex;
}

.gallery-top-row__img--changed {
    position: absolute;
    top: 0;
    left: 0;
}

.gallery-top-row__img--bg {
    z-index: 1;
}

.gallery-top-row__text {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15%;
    z-index: 2;
}

.gallery-top-row__title {
    color: #fff;
    font-weight: 700;
    font-size: calc(1rem + 48 * (100vw/1440));
    margin: 0;
    margin-bottom: 10px;
}

.gallery-top-row__btn {
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.75rem;
    letter-spacing: 0.15rem;
    display: flex;
    align-items: center;
}

.gallery-top-row__btn-img {
    margin-left: 10px;
}

.our-projects__gallery-bottom-row {
    display: grid;
    grid-template-columns: 23% 1fr 31.6%;
    gap: 30px;
    margin-top: 30px;
}

.our-projects__title {
    margin-bottom: 54px;
}

.our-projects__footer {
    display: flex;
    justify-content: flex-end;
}

.our-projects__btn {
    margin-top: 30px;
    padding: 30px 43px 26px 38px;

}

.our-projects__btn-img {
    margin-left: 10px;
}

.our-projects__footer {
    margin-bottom: 114px;
}

@media (max-width: 767px) {
    .our-projects__gallery-top-row {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 30px;
    }

    .our-projects__gallery-bottom-row {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        margin-top: 30px;
    }
}

/*------------------------------ contact-us ------------------------------*/

.contact-us__title {
    margin-bottom: 18px;
}

.contact-us__body {
    width: 100%;
    display: grid;
    grid-template-columns: 33.4% 64%;
    column-gap: 30px;
}

.contact-us__form {
    display: grid;
    grid-template-rows: repeat(4, 46px) 147px;
    row-gap: 10px;
}

.form__input,
.form__textarea {
    padding-left: 21px;
    outline: none;
    border: none;
    background-color: #F3F3F3;
    line-height: 1.17;
}

.form__textarea {
    resize: none;
    padding-top: 14px;
}

.form__input::placeholder {
    color: #8D8D8D;
    font-size: 0.875rem;
}

.contact-us__img {
    width: 100%;
    height: 100%;
}

.form__btn {
    margin: 76px 0 119px 0;
    padding: 28px 55px 28px 47px;
    cursor: pointer;
    border: none;
}

.form__btn-img {
    margin-left: 10px;
}

@media (max-width: 767px) {
    .contact-us__body {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }
}
