.photo-gallery {
    position: absolute;
    width: 20%;
    height: 10%;
    left: 10%;
    top: 30%;
}

.photo-gallery__photo {
    width: 20%;
    height: 10%;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 4em;
    color: #BDBDBD;
}

.photo-gallery__gallery {
    width: 80%;
    height: 10%;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    color: #333333;
}

.line {
    width: 80%;
    border: 1px solid #F2F2F2;
    margin: 30% 0% 0% 10%;
}

.container {
    margin: 5% 10% 0 10%;
    gap: 15px;
}

.photo-buttom {
    margin: 5% 0% 0% 10%;
    font-size: 24px;
    padding-right: 10px;
}

.photo-buttom__grey {
    color: #BDBDBD;
    margin-right: 30px;
}

.photo-buttom__left:hover,
.photo-buttom__right:hover {
    opacity: 0.5;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        margin: 5% 10% 0 10%;
    }

    .line {
        margin: 45% 0% 0% 10%;
    }
}

@media (max-width: 767px) {
    .container {
        margin: 10% 10% 0 10%;
    }

    .line {
        margin: 65% 0% 0% 10%;
    }
}